# Email Settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# Accounts configuration. Provide a comma-separated list of emails and passwords.
# E.g. EMAIL_ACCOUNTS="account1@gmail.com,account2@gmail.com"
EMAIL_ACCOUNTS="your_email@gmail.com"
EMAIL_PASSWORDS="your_app_password"

# Default Email Subject and Body
EMAIL_SUBJECT="Thank You for Joining – Workshop"
EMAIL_BODY="Hello,\n\nThank you for joining our workshop.\n\nBest regards,\nOrganizer"
